deepmultilingualpunctuation
langchain
langchain_community
langchain_core
python-dotenv
litellm
langdetect
pycountry
markdownify
validators
PyPDF2
docx
PIL
ebooklib
bs4
textract
moviepy
